*{
    background:#E5E5E5;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 150%;
}

.LogoAlura {
    margin-left: 5px;
    padding-top: 2%;
    width: 120px;
    height: 48px;
    gap: 40px;
    position: fixed
}

main {
    display: flex;
    margin-bottom: 10px;
    margin-left: 10;
}

.text-area {
    border: none;
    color:#0A3871;
    font-size: 32px;
    margin-top: 168px;
    margin-left: 240px;
    text-transform: lowercase;
}
::placeholder {color: #0a3871;}
.text-area:focus {
    outline:none;
}

.mensagem {
    background: white;
    background-image: url(/Imagens/boneco.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0a3871;
    margin-left: 10px;
    margin-top:20px;
    width: 350px;
    height: 544px;
    position: fixed;
   
}
.mensagem:focus {
    outline: none;
}

.botoes {
    width: 680px;
    height: 67px;
    display: flex;
    margin-top: 485px;
    position: fixed;
    gap: 24px;
   
}

.btn-desencriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color:white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-encriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color:white;
    cursor: pointer;
    height: 67px;
    width: 328px;
    
}

.Informacao {
    border: none;
    border-radius: 24px;
    color: #0a3871;
    margin-left: none;
    margin-top: 400px;
    padding-left: 40px;
    position: fixed;
    width: 300px;
    height: 48px;
    gap: 40px;
    font-size: 20px;

}

.btn-copiar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color:white;
    cursor: pointer;
    margin-top: 485px;
    position: fixed;
    padding: 24px;
    gap: 8px;
    margin-left: 100px;
    width: 150px;

}


   

